$text-color: blue;
$background-color: red;

.style-class-hello-world-button{
    font-size: 20px;
    padding: auto;
    background-color: $background-color;
    color: green;
}

.hello-world-text{
    color: $text-color;
    font-size: 50px;
}